.env
.DS_Store

app/application/cache/*
!app/application/cache/index.html
!app/application/cache/.htaccess

app/application/sessions/*
app/error.log
app/cfg.php

app/application/logs/*
app/application/vendor/*
!app/application/logs/index.html
!app/application/logs/.htaccess
.vscode

/public_html/pictures/*
/nbproject/
.idea/*
/composer.lock
/supervisord.log
/supervisord.pid
/kube/
/cookies.txt
