.env
.DS_Store

app/application/cache/*
!app/application/cache/index.html
!app/application/cache/.htaccess

app/application/sessions/*
app/error.log

app/application/logs/*
app/application/vendor/*
!app/application/logs/index.html
!app/application/logs/.htaccess

/ansible/vault.yml
/ansible/.vault_pass
.vscode
/nbproject/
.idea/*
/composer.lock
/supervisord.log
/supervisord.pid
/kube/
/cookies.txt
